footer{
    display: flex;
    flex-direction: column;
}
    .footer-header{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
        .footer-all-rights{
            font-family: system-ui, -apple-system;
            font-size: 1.3rem;
            font-style: italic;
        }
    .footer-socialMedia{
        display: flex;
        gap: 1rem;
    }
    .footer-content{
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem
    }
        .footer-content p{
            padding: 0 15%;
            font-size: .85rem;
            text-align: center;
            font-style: italic;
            font-family: system-ui, -apple-system;
        }

@media (width >= 600px){
    .footer-header{
        display: flex;
        justify-content: space-between;
    }
}