.socialMedia{
    display: none;
    position: fixed;
    right: 5rem;
    top: 6rem;
}
.socialMedia li{
    padding: .5rem 0;
}
.socialMedia li a box-icon:hover{
    fill: var(--color-green);
}

@media (width >= 1300px){
    .socialMedia{
        display: block;
    }
}